p {
  display: inline-block;
  font-size: larger;
}

.right {
  width: 100%;
  text-align: right;
}

:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 40%;
}

button {
  color: var(--text);
  background-color: var(--back);
  border-style: none;
  padding:10px;
  border-radius: 50px;
}

button:active {
  background-color: var(--text);
  color: var(--back);
}