.list {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr max-content max-content max-content;
    row-gap: 10px;
    align-items: center;
}


.name {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

p {
    padding-left: 10px;
    padding-right: 10px;
    padding: 15px;
    margin: 0;
}

button {
    margin: 5px;
}

.but {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    padding: 20px;
}

button {
    color: var(--text);
    background-color: var(--back);
    border-style: none;
    padding: 10px;
    border-radius: 50px;
}

button:hover {
    background-color: var(--text);
    color: var(--back);
}