p {
    color:red;
}
.grid {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    row-gap: 10px;
    margin-bottom: 30px;
}
button {
    background-color: greenyellow;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
}