nav {
    background-color: var(--navigation);
    padding-right: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
nav a {
    text-decoration: none;
    font-size: larger;
}
nav .other {
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    color: var(--navtext);
}

nav a:active {
    background-color: var(--navselect);
    color: var(--navtext);
}
.add {
    font-size: larger;
    background-color: var(--accent);
    height: max-content;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    border-radius: 30px;
    color: black;
}
nav .add:active {
    color: var(--text);
    background-color: var(--accentselect);
}