/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

.card {
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
}

.done {
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
}